@use "./colors";
@use "./mixins";

// fonts
@font-face {
  font-family: "29LT Kaff";
  src: url("../fonts/29LTKaff-Medium.eot");
  src: url("../fonts/29LTKaff-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/29LTKaff-Medium.woff2") format("woff2"),
    url("../fonts/29LTKaff-Medium.woff") format("woff"),
    url("../fonts/29LTKaff-Medium.ttf") format("truetype"),
    url("../fonts/29LTKaff-Medium.svg#29LTKaff-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "29LT Kaff";
  src: url("../fonts/29LTKaff-Regular.eot");
  src: url("../fonts/29LTKaff-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/29LTKaff-Regular.woff2") format("woff2"),
    url("../fonts/29LTKaff-Regular.woff") format("woff"),
    url("../fonts/29LTKaff-Regular.ttf") format("truetype"),
    url("../fonts/29LTKaff-Regular.svg#29LTKaff-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "29LT Kaff";
  src: url("../fonts/29LTKaff-Light.eot");
  src: url("../fonts/29LTKaff-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/29LTKaff-Light.woff2") format("woff2"),
    url("../fonts/29LTKaff-Light.woff") format("woff"),
    url("../fonts/29LTKaff-Light.ttf") format("truetype"),
    url("../fonts/29LTKaff-Light.svg#29LTKaff-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

::-moz-selection {
  color: map_get(colors.$theme-colors, selectionColor);
  background: map_get(colors.$theme-colors, selectionBg);
}

::selection {
  color: map_get(colors.$theme-colors, selectionColor);
  background: map_get(colors.$theme-colors, selectionBg);
}

::-webkit-scrollbar-track {
  background: map_get(colors.$theme-colors, scrollTrackBg);
}

::-webkit-scrollbar-thumb {
  background: map_get(colors.$theme-colors, scrollThumbBg);

  &::-webkit-scrollbar-thumb:hover {
    background: map_get(colors.$theme-colors, scrollThumbHoverBg);
  }
}

/* start common style*/

* {
  @include mixins.prefix(box-sizing, border-box, webkit ms o);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "29LT Kaff";
  text-align: right;
  direction: rtl;
  font-size: 15px;
  background-color: map_get(colors.$theme-colors, darkWhite);
  line-height: normal;
}

main {
  min-height: calc(100vh - 372px);
}

html[lang="en"] {
  body {
    direction: ltr;
    text-align: left;
  }
  .rotate-180 {
    transform: rotateY(-180deg);
  }
}

::-webkit-scrollbar {
  width: 3px;
  @include mixins.transition(background 0.3s ease-in-out);
}

::-webkit-scrollbar-track {
  @include mixins.border-radius(50px);
}

::-webkit-scrollbar-thumb {
  @include mixins.border-radius(50px);
}

.w-fit {
  width: fit-content;
}
.w-90 {
  width: 90%;
}
.w-70 {
  width: 70%;
}
.p-20-80 {
  padding: 20px 80px;
}
.bs-none {
  box-shadow: none !important;
}

.fw-500 {
  font-weight: 500;
}

.btn {
  @include mixins.border-radius(10px);
  height: 43px;
  min-width: 250px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  font-size: 14px;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    @include mixins.prefix(box-shadow, none, webkit ms o);
  }
  img {
    @include mixins.transition(filter 0.3s ease-in-out);
  }
}

.btn-primary {
  &:hover,
  &:focus {
    img {
      filter: contrast(0) sepia(1) hue-rotate(-170deg);
    }
  }
}
.btn-secondary {
  &:hover,
  &:focus {
    img {
      filter: contrast(0) sepia(1) invert(1) hue-rotate(390deg);
    }
  }
}
.btn-lightPrimary {
  color: map_get(colors.$theme-colors, primary) !important;
  &:hover,
  &:focus {
    background-color: map_get(colors.$theme-colors, primary) !important;
    border: 1px solid map_get(colors.$theme-colors, primary) !important;
    color: #fff !important;
    box-shadow: none !important ;
    img {
      filter: contrast(0) brightness(12);
    }
  }
}
.btn-lightSecondary {
  color: map_get(colors.$theme-colors, secondary) !important;
  &:hover,
  &:focus {
    background-color: map_get(colors.$theme-colors, secondary) !important;
    border: 1px solid map_get(colors.$theme-colors, secondary) !important;
    color: #fff !important;
    box-shadow: none !important ;
    img {
      filter: contrast(0) brightness(12);
    }
  }
}
.modal {
  overflow-y: auto;
}

.modal-icon {
  max-width: 150px;
  display: block;
  margin-inline: auto;
}

a,
button {
  @include mixins.transition(all 0.5s ease-in-out);
}

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: map_get(colors.$theme-colors, grayLight);
  font-size: 11px;
}

.owl-carousel {
  direction: ltr;
  touch-action: manipulation;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;

  &.white-link {
    color: #fff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      right: 0;
      height: 1px;
      width: 0px;
      border: 1px solid transparent;
      @include mixins.border-radius(0 10px);
      @include mixins.transition(all 0.3s ease-in-out);
    }
    &:hover,
    &:focus {
      &::after {
        width: 100%;
        border-color: #fff;
      }
    }
  }

  &.hover-link {
    &:hover,
    &:focus {
      &::after {
        border-color: map_get(colors.$theme-colors, secondary);
      }
    }
  }
}

ul {
  @include mixins.reset-list;
}

.linear-gradient {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0.12) 100%
    ),
    linear-gradient(84deg, #5a5391 0%, #826cf4 53.56%, #fff 111.59%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  line-height: normal;
}

.input-group {
  > .form-control,
  .form-floating,
  .form-select {
    &:focus-within,
    &:focus {
      z-index: 0;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.mw-auto {
  min-width: auto !important;
}
.max-auto {
  max-width: unset !important;
}

.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-18 {
  font-size: 18px;
}
.fs-70 {
  font-size: 70px;
}
.fs-5 {
  font-size: 1.1rem !important;
}

h1 {
  &.fs-5 {
    font-size: 1.4rem !important;
  }
}

.pagination {
  .page-link {
    color: map_get(colors.$theme-colors, secondary);
    background-color: transparent;
    border: 1px solid map_get(colors.$theme-colors, secondary);
    @include mixins.shape(32px, 8px);
    @extend .flex-center;
    font-size: 13px;
    &:focus {
      box-shadow: none;
    }
  }

  .page-item {
    margin-inline: 5px;
    margin-bottom: 5px;
    &.active,
    &:hover,
    &:focus {
      .page-link {
        color: #fff;
        background-color: map_get(colors.$theme-colors, secondary);
      }
    }

    &.disabled {
      .page-link {
        color: map_get(colors.$theme-colors, grayLight);
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }
}

// lazyload
img.lazyload:not([src]) {
  visibility: hidden;
}

.form-label {
  color: map_get(colors.$theme-colors, midGrey);
  font-size: 14px;
  text-transform: capitalize;
}

.form-control,
.custom-file {
  border: 0;
  height: 40px;
  @include mixins.border-radius(3px);
  background: #fff;
  font-size: 14px;

  &:focus {
    box-shadow: none;
  }
}

textarea {
  resize: none;
  height: auto !important;
}

.form-check-input {
  &:checked {
    background-color: map_get(colors.$theme-colors, primary);
    border-color: map_get(colors.$theme-colors, primary);
  }
  &:focus {
    box-shadow: none;
  }
}

.custom-file-input {
  display: none;
}
.upload-imgs,
.upload-files {
  position: absolute;
  left: 10px;
  top: 55%;
  z-index: 1;
  img {
    width: 18px;
  }
}
.custom-file-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.select2-container {
  height: 40px;

  .select2-selection--single {
    border: 0;
    height: 100%;
  }

  .select2-selection__placeholder {
    color: map_get(colors.$theme-colors, grayLight) !important;
    font-size: 11px;
  }

  .select2-results__option {
    font-size: 12px;
    color: #000;
  }
  .select2-results__option--highlighted {
    &.select2-results__option--selectable {
      background-color: #d8d8d8;
      color: #000;
    }
  }

  .select2-selection__rendered,
  .select2-selection__arrow {
    height: 100% !important;
  }
  .select2-selection__rendered {
    line-height: 40px !important;
    font-size: 13px;
  }
  .select2-selection__arrow {
    top: -1px !important;
  }
}

.input-phone {
  position: relative;
  .select2-container {
    min-width: 80px;
    position: absolute;
    left: 0;
    font-size: 13px;
  }
  .select2-container--default {
    .select2-selection--single {
      border: 0;
    }
  }
}

.pin-code-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 40px;
    height: 40px;
    text-align: center;
  }
}

.dropdown-menu {
  padding: 0;
  border: 0;
  box-shadow: 0 4px 11px 0 rgb(0 0 0 / 17%);
  inset: 0px auto auto 0 !important;

  li {
    padding-block: 7px;
    &:not(:last-child) {
      border-bottom: 1px solid #efefef;
    }
  }
}

.dropdown-item {
  text-align: center;
  justify-content: center;
  &.active,
  &:focus,
  &:hover {
    background-color: transparent;
    color: map_get(colors.$theme-colors, primary) !important;
  }
}
.dropdown-toggle {
  &.no-arrow {
    color: map_get(colors.$theme-colors, dark);
    position: relative;
    &::after {
      content: none;
    }
  }
}

.icon-btn {
  @include mixins.shape(35px, 50%);
  min-width: unset !important;
  position: relative;
  line-height: 37px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 17px;
  }
  &:hover,
  &:focus {
    background-color: map_get(colors.$theme-colors, secondary);
    img {
      filter: invert(1);
    }
  }

  &.option {
    @include mixins.shape(40px, 0px);
    min-width: unset;
    img {
      height: 20px;
    }

    &:hover,
    &:focus {
      background-color: map_get(colors.$theme-colors, secondary);
      img,
      i {
        filter: unset;
      }
    }

    &:active {
      border-color: #fff;
    }
  }
}

html[lang="en"] {
  .input-phone {
    .select2-container {
      right: 0;
      left: auto;
    }
  }

  .form-check {
    padding-left: 1.5em;
    padding-right: 0;
    .form-check-input {
      float: left;
      margin-left: -1.5em;
      margin-right: 0;
    }
  }

  .dropdown-menu {
    inset: 0 0 auto auto !important;
  }
  .owl-nav {
    flex-direction: row-reverse;
  }

  .upload-imgs,
  .upload-files {
    right: 10px;
    left: auto;
  }

  .custom-radio-img {
    .form-check-input {
      float: right;
    }
  }
}

.owl-nav {
  font-size: 14px;
  position: absolute;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
  .owl-prev,
  .owl-next {
    color: #fff !important;
    border: 1px solid #fff !important;
    @include mixins.shape(30px, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      background-color: #fff !important;
      color: map_get(colors.$theme-colors, primary) !important;
    }
  }
}

.owl-dots {
  display: none;
}

.lh-normal {
  line-height: normal;
}

.vector {
  height: 350px;
  max-width: 100%;
}

.z-1 {
  z-index: 1;
}

.modal-title {
  text-align: center;
  position: absolute;
  font-size: 15px;
}

.modal-content {
  @include mixins.border-radius(20px);
  font-size: 14px;
}

.irs--flat {
  .irs-bar,
  .irs-from,
  .irs-to,
  .irs-single {
    background-color: map_get(colors.$theme-colors, secondary);
  }

  .irs-handle {
    > i {
      &:first-child {
        background-color: map_get(colors.$theme-colors, secondary) !important;
      }
    }
  }

  .irs-from,
  .irs-to,
  .irs-single {
    &:before {
      border-top-color: map_get(colors.$theme-colors, secondary);
    }
  }
}

.accordion-button:not(.collapsed) {
  &::after {
    filter: contrast(0) brightness(0.5);
  }
}
.border-md-start {
  border-inline-start: 2px solid #ddd;
}

.breadcrumb {
  font-size: 16px;
}

.custom-img {
  @include mixins.shape(60px);
  @include mixins.border-radius(5px);
}

/* end common style*/

/* Start nav */

nav {
  padding: 0;
  position: sticky;
  background: map_get(colors.$theme-colors, primary);
  width: 100%;
  z-index: 4;
  display: flex;
  top: 0;
  align-items: center;
  @include mixins.transition(all 0.5s ease-in-out);
  .menu {
    justify-content: space-between;
    padding: 10px 20px;
    img.logo {
      width: 30px;
    }
    .menu-links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-inline-end: 30px;
        }
        a {
          font-size: 15px;
          text-transform: capitalize;
          color: #fff;
          position: relative;
          @include mixins.transition(all 0.3s ease-in-out);
          &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            right: 0;
            height: 1px;
            width: 0px;
            border: 1px solid transparent;
            @include mixins.border-radius(0 10px);
            @include mixins.transition(all 0.3s ease-in-out);
          }
        }

        &.active,
        &:hover {
          a {
            &::after {
              width: 100%;
              border-color: #fff;
            }
          }
        }
      }
    }
  }

  .login-btn {
    background-color: #fff;
    color: map_get(colors.$theme-colors, secondary);
    @include mixins.border-radius(5px);
    padding: 8px;
    height: 35px;

    img {
      height: 17px;
    }
    &:hover {
      color: #fff;
      background-color: map_get(colors.$theme-colors, secondary);
      img {
        filter: invert(1);
      }
    }
  }
}

.pulse {
  display: block;
  position: absolute;
  top: 10px;
  right: 9px;
  width: 7px;
  height: 7px;
  @include mixins.border-radius(50px);
  background: map_get(colors.$theme-colors, secondary);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(61, 80, 255, 0.7);
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -ms-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(61, 152, 255, 0.9);
    box-shadow: 0 0 0 0 rgba(61, 80, 255, 0.7);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 71, 61, 0);
    box-shadow: 0 0 0 10px rgba(255, 71, 61, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 71, 61, 0);
    box-shadow: 0 0 0 0 rgba(255, 71, 61, 0);
  }
}

html[lang="en"] {
  .pulse {
    left: 9px;
    right: auto;
  }
}

/* end nav */

/* start whatsapp */

.whatsapp {
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 3;
  @include mixins.transition(all 0.5s ease-in-out);
  img {
    width: 50px;
  }

  &:hover {
    transform: scale(1.1) rotate3d(1, 1, 1, 360deg);
  }
}

/* end whatsapp */

/* start upload multi images */
.upload-multi-imgs {
  .img-block {
    width: 100%;
    height: 200px;
    position: relative;
    @include mixins.border-radius(15px);

    &.multiple {
      height: 80px;
      aspect-ratio: 1/1;
      @extend .flex-center;
      border: 1px dashed #bdbdbd;
      color: #bdbdbd;

      .uploud_label {
        @extend .flex-center;
        font-size: 20px;
      }
    }

    .hidden-upload {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  .uploaded__area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .file_ {
      height: 80px;
      aspect-ratio: 1/1;
      @include mixins.border-radius(15px);
      background-color: map_get(colors.$theme-colors, grayLightClr);
      position: relative;

      img {
        width: 100%;
        height: 100%;
        @include mixins.border-radius(15px);
        background-color: map_get(colors.$theme-colors, grayLightClr);
      }

      video {
        width: 100%;
        height: 100%;
        @include mixins.border-radius(15px);
        background-color: map_get(colors.$theme-colors, grayLightClr);
      }

      .docs_file {
        width: 100%;
        height: 100%;
        text-align: center;
        color: map_get(colors.$theme-colors, primary);
        font-size: 30px;
        position: relative;
        background-color: map_get(colors.$theme-colors, grayLightClr);
      }

      .play-button {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .remove_media {
        @include mixins.shape(20px, 50%);
        @extend .flex-center;
        min-width: unset;
        font-size: 9px;
        padding: 0;
        background-color: map_get(colors.$theme-colors, primary);
        color: #fff;
        position: absolute;
        right: 4px;
        top: 4px;
        @include mixins.transition(all 0.3s cubic-bezier(0, 0.11, 0.4, 1.29));

        &:hover {
          background-color: #fff;
          color: map_get(colors.$theme-colors, primary);
        }
      }
    }

    .float_input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
    }

    .update_images {
      position: relative;
    }
  }
}

/* end upload multi images */

/* start tabs */
.nav-pills {
  .nav-link {
    font-size: 14px;
    min-width: 165px;
    max-width: 100%;
  }

  &.main-pills {
    .nav-link {
      border: 1px solid map_get(colors.$theme-colors, secondary);
      color: map_get(colors.$theme-colors, secondary);
      &.active,
      &:hover {
        background-color: map_get(colors.$theme-colors, secondary);
        color: #fff;
      }
    }

    .show {
      > .nav-link {
        background-color: map_get(colors.$theme-colors, secondary);
      }
    }
  }
  &.inner-pills {
    .nav-link {
      border: 1px solid map_get(colors.$theme-colors, primary);
      color: map_get(colors.$theme-colors, primary);
      &.active,
      &:hover {
        background-color: map_get(colors.$theme-colors, primary);
        color: #fff;
      }
    }

    .show {
      > .nav-link {
        background-color: map_get(colors.$theme-colors, primary);
      }
    }
  }
}

.tab-content {
  > .tab-pane {
    width: 100%;
  }
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .step {
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .circle-shape {
      @include mixins.shape(30px, 50%);
      position: relative;
      z-index: 1;
      border: 1px dashed map_get(colors.$theme-colors, grayLight);
      background-color: map_get(colors.$theme-colors, grayLight);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      color: map_get(colors.$theme-colors, grayLight);
    }

    &.active {
      .circle-shape {
        background-color: map_get(colors.$theme-colors, grayLight);
        border-color: map_get(colors.$theme-colors, primary);
        border-style: solid;
      }
    }

    &.completed {
      .circle-shape {
        background-color: map_get(colors.$theme-colors, primary);
        border-color: map_get(colors.$theme-colors, primary);
        color: #fff;
        &::before {
          content: "";
          @include mixins.shape(34px, 50%);
          background: transparent;
          position: absolute;
          z-index: -7;
          border: 1px dashed map_get(colors.$theme-colors, primary);
          top: -3px;
        }
      }
    }

    &:not(:first-child) {
      &::before {
        content: "";
        width: 80%;
        border: 2px dashed map_get(colors.$theme-colors, grayLight);
        position: absolute;
        top: 22%;
        right: -40%;
      }
    }
  }
}

/* Color the line between completed or active steps */
.step.completed + .step.active::before,
.step.completed + .step.completed::before {
  border-color: map_get(colors.$theme-colors, primary);
}

html[lang="en"] {
  .progress-steps {
    .step {
      &:not(:first-child) {
        &::before {
          left: -40%;
          right: auto;
        }
      }
    }
  }
}

/* end tabs */

/* start product */

.product {
  position: relative;

  .side-badge {
    font-size: 11px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 2;
  }

  .side-options {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    @include mixins.transition(all 0.5s ease-in-out);
  }

  &:hover {
    .side-options {
      opacity: 1;
    }
  }

  .space-icon {
    width: 15px;
  }
  .product-carusel {
    .item {
      overflow: hidden;
      .pro-img {
        @include mixins.transition(all 0.5s ease-in-out);
        height: 380px;
        object-fit: cover;
      }
      &:hover {
        .pro-img {
          transform: scale(1.1);
        }
      }
    }
  }
}

html[lang="en"] {
  .product {
    .side-badge {
      left: 0;
      right: auto;
    }

    .side-options {
      right: 0;
      left: auto;
    }
  }
}

/* end product */

/* start rate */

/* Ratings widget */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  input {
    display: none;
    &:checked ~ label i {
      color: map_get(
        colors.$theme-colors,
        primary
      ); /* Color of the filled stars */
    }
  }

  label {
    i {
      font-size: 24px; /* Adjust the size of the stars as needed */
      color: #e0e0e0; /* Default color of the stars */
    }
  }

  &.rating-provider {
    label {
      cursor: pointer;
      &:hover {
        i {
          color: map_get(
            colors.$theme-colors,
            primary
          ); /* Color of the hovered stars */
        }

        ~ label {
          i {
            color: map_get(
              colors.$theme-colors,
              primary
            ); /* Color of the filled stars */
          }
        }
      }
    }
  }
}


/* end rate */

/* start footer */

footer {
  background: linear-gradient(
      16deg,
      rgba(64, 22, 117, 0.7) 10.9%,
      rgba(130, 108, 244, 0.7) 89.13%
    ),
    url(../img/footer.png) lightgray top right / cover no-repeat;

  .footer-logo {
    height: 125px;
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
      @extend .flex-center;
      @include mixins.shape(35px, 50%);
      color: #fff;
      border: 1px solid #fff;
      @include mixins.transition(all 0.5s ease-in-out);
      &:hover,
      &:focus {
        background-color: #fff;
        color: map_get(colors.$theme-colors, primary);
      }
      &:not(:last-child) {
        margin-inline-end: 20px;
      }
    }
  }
}

/* end footer */

/*start scroll top */

#scroll-top {
  @include mixins.shape(40px);
  line-height: 37px;
  color: #fff;
  background-color: map_get(colors.$theme-colors, primary);
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  @include mixins.transition(all 0.5s ease-in-out);
  border: 2px solid transparent;
  left: 15px;
  &:hover {
    background-color: #fff;
    color: map_get(colors.$theme-colors, primary);
    border: 2px solid map_get(colors.$theme-colors, primary);
  }
}
html[lang="en"] {
  #scroll-top {
    right: 15px;
    left: auto;
  }
}

/*end scroll-top*/

/* Start Media Query */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .fs-70 {
    font-size: 40px;
  }

  h5 {
    font-size: 1rem !important;
  }
  h1 {
    &.fs-5 {
      font-size: 1rem !important;
    }
  }
  .fs-5,
  h6,
  .fs-6,
  .fs-16 {
    font-size: 14px !important;
  }
  h3 {
    font-size: 15px !important;
  }

  .fs-14,
  .form-label,
  .modal-title,
  .fs-18 {
    font-size: 13px;
  }
  .fs-13,
  .btn {
    font-size: 12px;
  }

  .w-25,
  .w-70,
  .w-75,
  .w-90 {
    width: 100% !important;
  }

  .p-20-80 {
    padding: 10;
  }
  .btn {
    min-width: 160px;
  }
  .breadcrumb {
    line-height: 1.8;
    font-size: 14px;
  }
  .border-md-start {
    border-inline-start: 0;
  }

  nav {
    height: 70px;
    top: 0;
    .menu-bar {
      .logo {
        width: 20px;
      }
      .toggle {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        font-size: 25px;
      }
      a {
        color: #000;
      }
    }
    .menu {
      margin: 0;
      padding: 15px;
      background-color: map_get(colors.$theme-colors, primary);
      position: fixed;
      width: 260px;
      height: 100%;
      top: 0;
      @include mixins.prefix(transform, scaleX(1), webkit ms o);
      @include mixins.transition(all 0.5s ease-in-out);
      text-align: right;
      right: -100%;
      @include mixins.prefix(transform-origin, right, webkit ms o);
      @include mixins.border-radius(0);
      display: block !important;
      overflow: auto;
      &.ul-dir {
        right: 0;
      }
      .menu-links {
        align-items: flex-start;
        margin: 15px 0;
        flex-direction: column;
        li {
          margin: 10px 0px;
          a {
            font-size: 12px;
          }
        }
      }
    }

    .overlay {
      position: fixed;
      background-color: rgba(00, 00, 00, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      margin: auto;
      @include mixins.transition(all 0.5s ease-in-out);
      @include mixins.prefix(transform, scaleX(0), webkit ms o);
      left: 0;
      @include mixins.prefix(transform-origin, left, webkit ms o);
    }
  }

  .nav-pills {
    .nav-link {
      font-size: 13px;
    }
  }

  .owl-nav {
    .owl-prev,
    .owl-next {
      @include mixins.shape(20px, 50%);
      font-size: 11px !important;
    }
  }

  .product {
    margin-bottom: 20px;
    .product-carusel {
      .item {
        .pro-img {
          height: 250px;
        }
      }
    }
  }

  .vector {
    height: 180px;
  }

  .whatsapp {
    img {
      width: 35px;
    }
  }

  .modal-icon {
    max-width: 70px;
  }
  .rating {
    label {
      i {
        font-size: 17px;
      }
    }
  }

  .custom-img {
    @include mixins.shape(50px);
  }

  footer {
    text-align: center;
    .footer-logo {
      height: 85px;
    }

    .social {
      justify-content: center;
    }
  }

  .pagination {
    .page-link {
      font-size: 12px;
    }
  }

  .progress-steps {
    .step {
      .circle-shape {
        @include mixins.shape(25px, 50%);
      }

      &.completed {
        .circle-shape {
          &::before {
            content: "";
            @include mixins.shape(29px, 50%);
          }
        }
      }
    }
  }

  html[lang="en"] {
    nav {
      .menu {
        text-align: left;
        @include mixins.prefix(transform-origin, left, webkit ms o);
        left: -100%;
        right: auto;

        &.ul-dir {
          left: 0;
          right: auto;
        }
      }
      .overlay {
        right: 0;
        left: auto;
        @include mixins.prefix(transform-origin, right, webkit ms o);
      }
    }
  }
}

/*Small Screen*/

@media (min-width: 768px) and (max-width: 991px) {
  body,
  h6 {
    font-size: 14px;
  }

  .w-25 {
    width: 75% !important;
  }
  .fs-5 {
    font-size: 1.1rem !important;
  }
  .fs-14 {
    font-size: 13px;
  }
  .btn {
    min-width: 160px;
    font-size: 13px;
  }
  nav {
    .menu {
      justify-content: center;
      img.logo {
        width: 25px;
        margin-inline-end: 60px;
      }

      .menu-links {
        li {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }

  .owl-nav {
    .owl-prev,
    .owl-next {
      @include mixins.shape(20px, 50%);
      font-size: 11px !important;
    }
  }
  .product {
    .product-carusel {
      .item {
        .pro-img {
          height: 240px;
        }
      }
    }
  }
  .vector {
    height: 235px;
  }
  footer {
    .social {
      a {
        margin-bottom: 10px;
        &:not(:last-child) {
          margin-inline-end: 10px;
        }
      }
    }
  }
}

/*Medium Screen*/

@media (min-width: 992px) and (max-width: 1199px) {
  .product {
    .product-carusel {
      .item {
        .pro-img {
          height: 260px;
        }
      }
    }
  }
  .vector {
    height: 300px;
  }
  footer {
    .social {
      a {
        margin-bottom: 10px;
        &:not(:last-child) {
          margin-inline-end: 10px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
}

/*Larger Screen*/

/* End Media Query */
